                    <div class="card text-xs-left">
                            <div class="card-block">
                                <h5 class="card-title">
                                  <a href={{item.url}} target="_blank">{{item.title}}</a>
                                </h5>
                                <p class="text-muted font-italic">
                                  {{item.description}}
                                  <span class="tag tag-default">{{item.system}}</span>
                                  <span class="tag tag-default">{{item.country}}</span>
                                </p>
                                <div class="text-xs-right">
                                  {{#link-to 'entry.show' item.id class="card-link"}}
                                    {{fa-icon "pencil"}}
                                  {{/link-to}}
                                </div>
                            </div>
                    </div>
{{yield}}
