<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 padding-top">
            <form>
                <div class="form-group">
                    <label>Title:</label>
                    {{input value=model.entry.title class="form-control"}}
                </div>
                <div class="form-group">
                    <label>Url:</label>
                    {{input value=model.entry.url class="form-control"}}
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    {{textarea value=model.entry.description cols="40" rows="3" class="form-control"}}
                </div>
                <div class="form-group">
                    <label>keywords:</label>
                    {{input value=model.entry.keywords class="form-control"}}
                </div>
                <div class="form-group">
                    <label>System:</label>
                    {{#x-select class="form-control" value=model.entry.system as |xs|}}
                      {{#each model.systems as |item|}}
                      {{#xs.option value=item}}{{item.name}}{{/xs.option}}
                      {{/each}}
                    {{/x-select}}
                </div>
                <div class="form-group">
                    <label>Country:</label>
                    {{#x-select class="form-control" value=model.entry.country as |xs|}}
                      {{#each model.countries as |item|}}
                      {{#xs.option value=item}}{{item.name}}{{/xs.option}}
                      {{/each}}
                    {{/x-select}}
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-success" {{action 'update' on='click' }}>Modify</button>
                    <button type="delete" class="btn btn-danger" {{action 'delete' on='click' }}>Delete</button>
                    {{#link-to 'index' tagName="button" class="btn btn-primary"}}Index{{/link-to}}
                </div>
            </form>
        </div>
    </div>
</div>
