<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-3 padding-top">
            <form {{action 'save' on="submit" }}>
                <div class="form-group">
                    {{input value=countryCode class="form-control" placeholder="Country code" autofocus="autofocus"}} </div>
                <div class="form-group">
                    {{input value=countryName class="form-control" placeholder="Country name"}} </div>
                <button class="btn btn-primary">Add</button>
            </form>
        </div>
        <div class="col-xs-12 col-md-9 padding-top">
            <div class="row">
               {{#each model as |item|}}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="card text-xs-left">
                            <div class="card-block">
                                <h5 class="card-title">
                                  {{item.name}}
                                </h5>
                                <span class="tag tag-pill tag-default">{{item.code}}</span>
                                <div class="text-xs-right">
                                  {{#link-to 'settings.country.show' item.id class="card-link"}}
                                    {{fa-icon "pencil"}}
                                  {{/link-to}}
                                </div>
                            </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
